{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}

<div class ="content">
<br><br>
<h1 style="text-align: center;"> Books</h1>

<div class="search-container">
    <form action="" method = "POST">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>
{% if books.count()==0 %}
<p> No results were found for your search </p>
{%else%}
<table id = "bookTable" class= "bookTable" style="padding:50px; align-content: center; text-align:left; border: 1px solid black; border-collapse:collapse; width:75%; padding:50px; border-spacing: 10px; margin-left:auto;margin-right:auto;">
    <tr id = "headerRow" style = "padding:50px; margin:20px; border: 1px solid black; font-weight: bold; color: white">
        <th id="th">ISBN</th>
        <th id="th">Title</th>
        <th id="th">Author</th>
        <th id="th">Year</th>
    </tr>

    {% for book in books: %}
        <tr style = "border: 1px solid black; background-color: #ffe6f5; padding:50px; margin:50px;">
        <td style = "border: 1px solid black;">
          <a href='/book/{{book.Isbn}}'>  {{book.Isbn}} </a>
        </td>
        <td style = "border: 1px solid black;">
            {{book.Title}}
        </td>
        <td style = "border: 1px solid black;">
            {{book.Author}}
        </td>
        <td style = "border: 1px solid black;">
            {{book.Year}}
        </td>
        </tr>
    {% endfor %}
</table>

{%endif%}
</div>
{% endblock %}
