<html>

<head>
    <style>
        label {
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 200;
        }
        label,input{
            align-items: center;
        }

        .chb{
            padding:10px;
        }
        
    </style>
 </head>

<body>

    <form action="templates/action_page.html" method ="POST" name = "form">

        <label class ="form-group"> Name:</label><br>
        <input type="text" name="name"><br><br><br>

        <label class ="form-group"> Age:</label><br>
        <input type="text" name="age"> <br><br><br>

        <label class ="form-group"> Date of Birth: </label><br>
        <input type="date" name="dateofbirth"><br><br><br>

        <label class ="form-group"> Accept to the terms and conditions by checking the box. </label>
        <input type ="checkbox" name="chb" id ="chb"><br>

        <label class ="btn-primary" for="submit"> </label><br>
        <input type="submit" id = "submit" value ="Submit">

    </form>

</body>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</html>
