{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

{% if(errM != "") %}
<h3> Oh No! There has been an error...  </h3>
{{errM}}
{%else%}

<div class="panel panel-primary w-50 align-self-center centered">
    <div class="panel-heading">
        <h1>Rating Information for  <b> {{bookInfo.Title}} </b></h1>
        <h2><i> By: {{bookInfo.Author}} </i> </h2>
    </div>

    <div class="panel-body w-50" id= "box2" style= "border-radius:0px; float:left; text-align: left; padding:40px">
        <h4> GoodReads Rating Data</h4>
        
        {% for rating in data.books %} 
            <h4>ID:  {{ rating.id }}</h4>
            <h4>ISBN:  {{ rating.isbn }}</h4>
            <h4>ISBN13:  {{ rating.isbn13 }}</h4>
            
            <h4>Average Rating: {{rating.average_rating}}</h4>
            <h4>
            {% if avg == 1 %}
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            {% elif avg == 2  %}
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            {% elif avg == 3 %}
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            {% elif avg == 4 %}
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            {% else %}
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span> 
            {% endif %}
            </h4>
            <h4># of Ratings:  {{ rating.ratings_count }}</h4>
            <h4># of Reviews:  {{ rating.reviews_count }}</h4>
            <h4># of Text Reviews:  {{ rating.text_reviews_count }}</h4>
            <h4># of Work Ratings:  {{ rating.work_ratings_count }}</h4>
            <h4># of Work Reviews:  {{ rating.work_reviews_count }}</h4>
            <h4># of Work Text Reviews: {{rating.work_text_reviews_count}}</h4>
        {%endfor%}
    </div>
    <div style= "border-radius:0px; float:right; background-color: #ffe6f5; align-content: center; padding-bottom: 56px;" id= "box2">
        <br>
        <h4> Add a Rating for <i>{{bookInfo.Title}}</i></h4>
        <form action="" method="POST">
            <label class ="form-group"> Rate this book on a scale from 1 (worst) to 5 (best): </label>
            <br>
            <label  class="radio-inline" for="1">
                <input type="radio" value="1" name ="opt"> 1
            </label>
            
            <label  class="radio-inline" for="2">
                <input type="radio" value="2" name ="opt"> 2
            </label>
            
            <label  class="radio-inline" for="3">
                <input type="radio" value="3" name ="opt"> 3
            </label>
            
            <label class="radio-inline" for="4">
                <input type="radio" value="4" name ="opt"> 4
            </label>
            
            <label class="radio-inline" for="5">
                <input type="radio" value="5" name ="opt"> 5
            </label>
            <br><br><br>

            <label class ="form-group" for="opinion"> What is your opinion about the book?</label>
            <br>
            <textarea rows="5" cols="60" name = "opinion" placeholder="Write about your opinion on this book in a few words."></textarea>
            <br><br><br>
            <input class="btn btn-primary" type="submit" value="Submit">
            <br><br>
        </form>
    </div>
  </div>
</div>

<div>
    <h4><b>Reviews </b></h4>
    {% for review in reviews: %}
    <div class= "reviewInfo">
    <h3 style="float:right">{{review.Opinion}}</h3>
    <h3> {{review.Username}} </h3>
    {% if review.RatingNumber == 1%}
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            {% elif review.RatingNumber == 2 %}
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            {% elif  review.RatingNumber == 3 %}
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            {% elif review.RatingNumber == 4 %}
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            {% else %}
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span> 

        <br>
        {{review.Created}}
        
    </div>
    <br><br>
    {%endif%}
    {% endfor%}
</div>

{%endif%}

{% endblock %}