<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel= "stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

<body id = "bookbkg">
  <div class ="container-fluid centered">
    <div id ="box">
      <br>
      <h1 style = "font-family: fantasy; color:#0e3391"> AmazingReads </h1>
      <br>
      <h1 class = "fontbody">Sign Up </h1>
      <br>
    <form action="" method="post">
        <input type="text" placeholder="Email" name="email" value="{{
            request.form.email }}" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title ="Enter a valid email address" required>
            <br><br>
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}" required>
          <br><br>
          
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}" required> 
          <br>
          <br>
          <p class ="error"> {{message}} </p>
        <input class="btn btn-primary" type="submit" value="Register" style="text-align: center; align-items: center;">
        <br><br>
        <a href = "/"> Already have an account? Login. </a>
      </form>
    </div>
  </div>
</body>
</html>